<div style="position:absolute">
<%= link_to "Home", root_path %>|
<%= link_to "Страницы", pages_path %>|
<%= link_to "Добавить страницу", new_page_path%>|
<%= link_to "Новости", posts_path %>|
<%= link_to "Добавить новость", new_post_path%>|
<%= link_to "Теги", tags_path %>|
<%= link_to "Добавить тег", new_tag_path %>|
<%= link_to "Фотогаллереи", galleries_path %>|
<%= link_to "Добавить галлерею", new_gallery_path%>|
<%= link_to "Фотографии", photos_path %>|
<%= link_to "Добавить фотографию", new_photo_path %>|
<%= link_to "Создать пользователя", signup_path %>|
<%= link_to "Выйти", signout_path %><br/>
</div>